<!-- <div class="app-container"> -->

  <mat-sidenav-container>
   
    <mat-sidenav-content appScroll [scrollClass]="'app-navbar-bg'">
      <!--in here all the content must reside. We will add a navigation header as well-->
      <mat-toolbar class="position-fixed">
         
        <app-navbar (toggle)="toggleSidenav($event)" class="app-navbar-home"></app-navbar>
        
        <!-- <a mat-button class="companyName" routerLink="/">
          <span>Site name</span>
        </a> -->
        <span class="example-spacer"></span>
       
        </mat-toolbar>
     <div class="">
       <router-outlet></router-outlet>
       <app-footer></app-footer>
     </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!-- </div> -->
